pkg/
log/*
private
tmp/**/*
tmp/*
config/database.yml
dump.rdb
public/banners
public/files
*.DS_Store
*~
*.swp
*.swo
.idea
coverage
.rvmrc
.bundle
.bundle/*
.rbenv-version
*.sublime-*
zeus.json
chromedriver.log
.sass-cache/
